.u-section-1 .u-sheet-1 {
  min-height: 4888px;
}

.u-section-1 .u-text-1 {
  line-height: 1.3;
  font-weight: normal;
  margin: 19px 0 0;
}

.u-section-1 .u-image-1 {
  width: 187px;
  height: 382px;
  margin: -4483px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: -111px;
  }

  .u-section-1 .u-image-1 {
    height: 383px;
  }
}